.about{
    color: #fff;
}

.contentAbout{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 50px 0; 
}

.rightAbout img{
    width: 272px;
    height: 338px;
    border-radius: 16px;
}
.leftAbout{
    width: 373px;
}

.aboutDesc{
    color: #000;
    font-size: 16px;
    margin-top: 50px;
    text-align: stretch;
    font-weight: 700;
}

@media (max-width: 768px){
    .rightAbout img{
        width: 100px;
        height: 100px;
    }
}