
.appWrapper{
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    position: relative;
  }
  
  
  main{
    grid-area: main;
    padding: 0 287px 0 291px;
  }

  @media (max-width:768px){
    .appWrapper{
        display: block;
        width: 100%;
    }
    main{
        width: 100%;
        padding: 0 1rem;
    }
  }