.menuContainer{
    position: absolute;
    top: 69px;
    width: 100%;
    left: 0;
    background: #fff;
}
.menuContainer nav{
    padding-left:0;
}
.menuContainer nav ul{
    display: flex;
    flex-flow: column;
    align-items: center;

}

.menuContainer nav ul li{
padding: 10px
}