footer{
    height: 317px;
    background: #D9D9D9;
    padding: 47px 287px 28px 294px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.footerLogo{
 width: 162px;
 object-fit: contain;
 margin-right: 50px;
}

.footerSection ul li{
    list-style: none;
    padding-bottom: 5px;
    
}
.footerSection ul li a{
text-decoration: none;
color: #495E57;
cursor: pointer;
}
.footerHeading{
    font-size: 20px;
    font-weight: 900;
    color: #495E57;
    font-family: "Karla";
    padding-bottom: 10px;
}

.footerContent{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
    flex-flow: row wrap;
}

@media (max-width: 768px){
    footer{
        padding: 0;
        margin: 0;
        width: calc(100% + 2rem);
        height: auto;
    }
    .footerLogo{
        padding: 10px;
    }
    .footerSection{
        padding: 10px;
    }
    .footerSection ul{
        display: flex;
        flex-flow: row wrap;
        column-gap: 10px;
    }

}